<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
        <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="row bg-primary">
                        <h3 class="card-title p-2 text-light">${manager.name}</h3>
                    </div>
                    <div class="row bg-primary mb-4">
                        <h3 class="card-title p-2 text-light">${manager.title}</h3>
                    </div>
                    <div class="row border m-1 p-3">
                        <p class="card-text">ID: ${manager.id}</p>
                    </div>
                    <div class="row border m-1 p-3">
                        <p class="card-text">Email: ${manager.email}</p>
                    </div>
                    <div class="row border m-1 p-3">
                        <p class="card-text">Office Number: ${manager.officeNumber}</p>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="app.js"></script>       
</body>
</html>